body{
  
    width: 100%;
    height: 100%;
}

#Divi{
    width: 100px; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    height: 100px;
    background-color: aquamarine;
}

#menu{
    border: solid 1px rgb(232, 235, 84);
    background-color: rgb(243, 235, 190);
    width: 10%;
    margin: 1px;
    height: 200px;
}